<fieldset>
					<!--legend></legend-->
						<span class="oneChoice">
							<label class="preField">format</label>
							{{form.audio_format}}
							 {% if form.audio_format.errors %}<dd class="errors" >{{ form.audio_format.errors }}</dd>{% endif %}
						</span>
					<br/>
					<span class="oneChoice">
						<label class="preField">{{form.audio_samplerate.label}}</label>
						{{form.audio_samplerate}}
						 {% if form.audio_samplerate.errors %}<dd class="errors" >{{ form.audio_samplerate.errors }}</dd>{% endif %}
					</span>
					<br/>
					<span class="oneChoice">
						<label class="preField">{{form.audio_bitrate.label}}</label>
						{{form.audio_bitrate}}
						{% if form.audio_bitrate.errors %}<dd class="errors" >{{ form.audio_bitrate.errors }}</dd>{% endif %}
					</span>

				</fieldset>
				
	{% include "admin/workspace/license.html" %}
