{% include 'default_css.html' %}
<link rel="stylesheet" type="text/css" href="/files/css/toolbar/menu.css" />
<link rel="stylesheet" type="text/css" href="/files/css/admin_forms.css" />


<script type="text/javascript" src="/files/javascript/prototype-min.js"></script>
<script type="text/javascript" src="/files/javascript/effects.js"></script>



<!--script type="text/javascript" src="/media/js/SelectFilter2.js"></script-->
 
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/media/js/core.js"></script>
<script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script>
<!--script type="text/javascript" src="/media/js/SelectBox.js"></script-->

{# js for Prototype window #}
		<script type="text/javascript" src="/files/javascript/prototype-window/window.js"> </script>
		<script type="text/javascript" src="/files/javascript/window-management.js"> </script>
		
{# end js for Prototype window #}


{# css for Prototype window #}
        <link href='/files/css/prototype-window/default.css' type='text/css' rel='stylesheet' />    
        <link href='/files/css/prototype-window/spread.css' type='text/css' rel='stylesheet' />    
        <link href='/files/css/prototype-window/alphacube.css' type='text/css' rel='stylesheet' />    
{# end css for  Prototype window #}

<!--script type="text/javascript" src="/files/javascript/toolbar/menu.js"></script>
<script type="text/javascript" src="/files/javascript/toolbar/activation_tabs.js"></script-->
        
<script type="text/javascript">     


var SelectBox = {
    cache: new Object(),
    init: function(id) {
        var box = document.getElementById(id);
        var node;
        SelectBox.cache[id] = new Array();
        var cache = SelectBox.cache[id];
        for (var i = 0; (node = box.options[i]); i++) {
            cache.push({value: node.value, text: node.text, displayed: 1});
        }
    },
    redisplay: function(id) {
        // Repopulate HTML select box from cache
        var box = document.getElementById(id);
        box.options.length = 0; // clear all options
        for (var i = 0, j = SelectBox.cache[id].length; i < j; i++) {
            var node = SelectBox.cache[id][i];
            if (node.displayed) {
                box.options[box.options.length] = new Option(node.text, node.value, false, false);
            }
        }
    },
    filter: function(id, text) {
        // Redisplay the HTML select box, displaying only the choices containing ALL
        // the words in text. (It's an AND search.)
        var tokens = text.toLowerCase().split(/\s+/);
        var node, token;
        for (var i = 0; (node = SelectBox.cache[id][i]); i++) {
            node.displayed = 1;
            for (var j = 0; (token = tokens[j]); j++) {
                if (node.text.toLowerCase().indexOf(token) == -1) {
                    node.displayed = 0;
                }
            }
        }
        SelectBox.redisplay(id);
    },
    delete_from_cache: function(id, value) {
        var node, delete_index = null;
        for (var i = 0; (node = SelectBox.cache[id][i]); i++) {
            if (node.value == value) {
                delete_index = i;
                break;
            }
        }
        var j = SelectBox.cache[id].length - 1;
        for (var i = delete_index; i < j; i++) {
            SelectBox.cache[id][i] = SelectBox.cache[id][i+1];
        }
        SelectBox.cache[id].length--;
    },
    add_to_cache: function(id, option) {
        SelectBox.cache[id].push({value: option.value, text: option.text, displayed: 1});
    },
    cache_contains: function(id, value) {
        // Check if an item is contained in the cache
        var node;
        for (var i = 0; (node = SelectBox.cache[id][i]); i++) {
            if (node.value == value) {
                return true;
            }
        }
        return false;
    },
    move: function(from, to) {
        var from_box = document.getElementById(from);
        var to_box = document.getElementById(to);
        var option;
        for (var i = 0; (option = from_box.options[i]); i++) {
            if (option.selected && SelectBox.cache_contains(from, option.value)) {
                    SelectBox.add_to_cache(to, {value: option.value, text: option.text, displayed: 1});
                    SelectBox.delete_from_cache(from, option.value);
                }
        }
        SelectBox.redisplay(from);
        SelectBox.redisplay(to);
    },
    move_all: function(from, to) {
        var from_box = document.getElementById(from);
        var to_box = document.getElementById(to);
        var option;
        for (var i = 0; (option = from_box.options[i]); i++) {
            if (SelectBox.cache_contains(from, option.value)) {
                SelectBox.add_to_cache(to, {value: option.value, text: option.text, displayed: 1});
                SelectBox.delete_from_cache(from, option.value);
            }
        }
        SelectBox.redisplay(from);
        SelectBox.redisplay(to);
    },
    sort: function(id) {
        SelectBox.cache[id].sort( function(a, b) {
            a = a.text.toLowerCase();
            b = b.text.toLowerCase();
            try {
                if (a > b) return 1;
                if (a < b) return -1;
            }
            catch (e) {
                // silently fail on IE 'unknown' exception
            }
            return 0;
        } );
    },
    select_all: function(id) {
        var box = document.getElementById(id);
        for (var i = 0; i < box.options.length; i++) {
            box.options[i].selected = 'selected';
        }
    }
}




resize_win = function (){
    //if adminwin.getURL().startsWith('/admin_workspace/')
    window.parent.updateHeightAdmin($('admin').getHeight());
    };

handleOnAvailable = function(){
    //SelectFilter.init("members", "users", 0, "/media/"); 
    resize_win()
    window.scroll(0,0)  
    }; 

handleOnAvailableMember = function() {
        
        SelectFilter.init("permissions", "permissions", 0, "/media/"); 
        $('groups').onclick = function(){
            var l = []
            for (var i = 0; i < $('groups').options.length; i++){
                if($('groups') .options[i].selected){
                    l.push($('groups') .options[i].value)
                    }
            }
            if(l.length > 0)
                new Ajax.Updater('id_group_related_permissions', '/get_group_permissions/', {parameters: {group_ids : l}})
        }
        resize_win()
        window.scroll(0,0)  
        };

function set_selected_in_selectbox(id_to){
        var options = document.getElementById(id_to).options
        for (var i = 0; i < options.length; i++) 
            options[i].selected = true;
        
    }

    
function save_member(){
    set_selected_in_selectbox('permissions_to'); 
    var form = document.getElementById('admin_form');
    var action = form.action;
    var ajax = new Ajax.Updater('popup_admin',action, {
        postBody: form.serialize(),
        evalScripts:true
        });

    
    }    
    
    

    

    
    
    
    
    
function change_tab(url, callback){
    new Ajax.Updater('popup_admin', url, {method: 'get',
            evalScript:true,
            onComplete: function(o) {
                var dim = $('admin').getDimensions()
                //alert(dim.height)
                if(callback)
                    callback()
                
                resize_win();
                window.parent.adminwin.showCenter()
                
                
    
    }
    
    })

}

function adjust_height(){
    min_height = 450
    height = $('admin').getHeight()
    if(height < min_height ) {
        $('admin').style.height = min_height
        //$('global_fieldset').style.height = min_height - 130
		
        height = min_height
        
        }
    window.parent.updateHeightAdmin(height + 30);
	
}

document.observe("dom:loaded", function(){
                    if(document.getElementsByClassName('errors').length > 0)                   
                      $('error_alert').style.visibility = "visible"
                    
					{% ifequal type 'members'%}
						adjust_height()
					
					{%else%}
						height = $('admin').getHeight()
						window.parent.updateHeightAdmin(height);
						
					{%endifequal%}
					
                    if($('pos')){
                        watermarking($('pos').value)
                        if($('id_apply_watermarking').checked)
                            enable_wm()
                        
                    }
                    
					  
});

</script>
{%block js%}

{%endblock%}





<div id="popup_admin"  >
    {%if ws.id%}
        <div id="vertical_menu" >
            <ul id="nav" >          
                <li {%ifequal type 'general' %}class="activelink" {%endifequal%}>
                        <a href="/admin_workspace/{{ws.id}}/" >General</a>
                    </li>                
                    
                    <li {%ifequal type 'members' %}class="activelink" {%endifequal%}
                       
                    
                        <a  href="/admin_workspace_permissions/members/{{ws.id}}/" >Members</a>
                        
                    </li>
                    
                    <!--li {%ifequal type 'groups' %}class="activelink" {%endifequal%}>       
                    
                        <a  href="/admin_workspace_permissions/groups/{{ws.id}}/" >Groups</a>
                        
                    </li-->
                    
                    <li {%ifequal type 'variants' %}class="activelink" {%endifequal%}>
                         <a  href="/preferences/{{ws.id}}/image/">Variants</a>
                    </li>   
                   
            </ul>
        </div>
    {%endif%}
    <div id="admin" class="admin" >
		
		<div style="text-align:center">		
			<h2 id="ws_name"  style="font-size:medium; color:#1B5790; ">
			
			{%if ws.id%}
				workspace {{ws.name}}
			{%else%}
				add a workspace
			{%endif%}
			</h2>
		</div>
		
        {%block content%}
        {%endblock%}

    </div>
</div>
      
