{%extends "admin/workspace/base.html"%}

{%block js%}
 
<script type="text/javascript" src="/files/javascript/jw_effect.js"></script>
<script type="text/javascript" src="/files/javascript/watermarking.js"></script>
<script type="text/javascript" src="/files/javascript/toolbar/menu.js"></script> 
<script type="text/javascript" src="/files/javascript/toolbar/activation_tabs.js"></script>

{%block extra_js%}
<script>
    var win;
</script>
{%endblock%}

<script type="text/Javascript">

var s2 ;
function hide_format(id_list){
    
    for(i = 0; i< id_list.length; i++){
        $(id_list[i]).hide();                       
    }                    
}
                    
                    
function disable_format(id_list){
    for(i = 0; i< id_list.length; i++){
        $(id_list[i]).disabled = true;                    
    }                    
}
                
                
function change_format() {
	if($('id_video_format')){
    if($('id_video_format').options[$('id_video_format').selectedIndex].value == 'flv'){
        hide_format(['video_codec_span'])
        
        disable_format(['id_avi_codec', 'id_ogg_codec', 'id_mpeg_codec' ])
         $('id_flv_codec').name = 'video_codec';
         $('id_flv_codec').disabled= false;
        
        return;
        }
                            
    if($('id_video_format').options[$('id_video_format').selectedIndex].value == 'ogg'){
        hide_format(['video_codec_span', 'id_avi_codec', 'id_mpeg_codec', 'id_flv_codec'])
        disable_format(['id_avi_codec', 'id_mpeg_codec', 'id_flv_codec'])                      
        
        $('id_ogg_codec').name = 'video_codec';
        $('id_ogg_codec').disabled= false;
       
        return
        }

    if($('id_video_format').options[$('id_video_format').selectedIndex].value == 'mpeg'){
        $('video_codec_span').show();
        
        hide_format(['id_avi_codec', 'id_ogg_codec', 'id_flv_codec'])
        disable_format(['id_avi_codec', 'id_ogg_codec', 'id_flv_codec'])              
        
        $('id_mpeg_codec').name = 'video_codec';
        $('id_mpeg_codec').disabled= false;
        $('id_mpeg_codec').show();
        return;
    }
    
    if($('id_video_format').options[$('id_video_format').selectedIndex].value == 'avi'){
        $('video_codec_span').show();                            
        hide_format(['id_mpeg_codec', 'id_ogg_codec', 'id_flv_codec'])
        disable_format(['id_mpeg_codec', 'id_ogg_codec', 'id_flv_codec'])                               
        $('id_avi_codec').name = 'video_codec';
        $('id_avi_codec').disabled= false;
        $('id_avi_codec').show();
        return;
    }
    

	}
}
                    
             
                    



	function load_new_script(src){
        var new_script = document.createElement('script');
        new_script.src = src;
        new_script.type = "text/javascript";
        document.getElementsByTagName('head')[0].appendChild(new_script);
    }
	
    function myDynamicSelectWidth(){
        list = $$('select')
        for (i = 0; i < list.length; i++) {
            if(list[i].id != 'id_variants' && list[i].id != 'id_media_type' ){
                len = list[i].getWidth();
                list[i].style.width = (len + 10)+"px";
                }
		}
    
    
    }
    
    function disable_wm(){
   
        $('id_watermarking_type_0').disabled = true;
            $('id_watermarking_type_1').disabled = true;
            $('id_watermarking_dimension').disabled = true;
//            $('id_watermarking_text_font').disabled = true;
            $('id_watermarking_transparency').disabled = true;
//            $('id_watermarking_text_style').disabled = true;
            $('id_watermarking_text').disabled = true;
            $('pos').disabled = true;
  
    }
    
     function enable_wm(){
        $('id_watermarking_type_0').disabled = false;
            $('id_watermarking_type_1').disabled = false;
            $('id_watermarking_dimension').disabled = false;
            $('id_watermarking_transparency').disabled = false;
            $('id_watermarking_text_font').disabled = false;
            $('id_watermarking_text_style').disabled = false;
            $('id_watermarking_text').disabled = false;
            $('pos').disabled = false;
    }
    
    
	load_new_script("/files/javascript/DynamicWidthSelect.js");
	load_new_script("/files/javascript/inputSettings.js");
    
    
    
    function update_form(id_var_selected, media_type, div_id){
	
    if (media_type)
        url = '/get_variant_pref/' + id_var_selected+ '/' + media_type + '/'
    else
        url = '/get_variant_pref/' + id_var_selected+ '/'
    
	if(!div_id)
		div_id = 'form_content'
		
	
    new Ajax.Updater(div_id,url, {evalScript: true,
            onComplete: function(){
                myDynamicSelectWidth();
                set_slider();
                
                
                watermarking($('pos').value)                                        
                if($('id_apply_watermarking').checked){                    
                    
                    enable_wm()  
                    }
                else
                    disable_wm()
                    
                {%ifequal subpage "movie" %}
                    change_format()
					current_media_type = $('id_media_type').options[$('id_media_type').options.selectedIndex].value;
                {%endifequal%}               
                
                
                
                if (internal_variants.include(id_var_selected)){
					$('rename_button').addClassName('disable')
					$('delete_button').addClassName('disable')
                    /*$('rename_button').hide();
                    $('delete_button').hide();*/
                    }
                else{                
                    $('delete_button').removeClassName('disable')
                    $('rename_button').removeClassName('disable')
					

                    /*$('rename_button').show();
                    $('delete_button').show();*/
                }
            
            }
            })
    
    }
    
    
    function open_edit_window(url, not_reload){
    win = new Window('new_variant',{url:url,
            className:"alphacube", 
            width:300,
            height:200,
            onClose: function(win){
                if(!not_reload){
                    $('var_'+{{variant.pk}}).selected= true;
                    update_form({{variant.pk}})
                }
                return false;               
            },
            //resizable: false,
            draggable: false,
            maximizable: false,
            minimizable: false,
            destroyOnClose: true
            });
            win.showCenter();
            win._parent = parent.adminwin;
    }
    
    function load_variant_pref(){
        id_var_selected = $('id_variants').options[$('id_variants').options.selectedIndex].value;
        if(id_var_selected == 'new') {
           open_edit_window('/new_variant/{{ws.pk}}/{{subpage}}/');
           return;
            }        
        
        if (id_var_selected != current_variant_id  ){
            update_form(id_var_selected)
            current_variant_id   = id_var_selected
        }
        
        
    }
    
    
    
    
    function change_media_type(){
		id_var_selected = $('id_variants').options[$('id_variants').options.selectedIndex].value;
        selected = $('id_media_type').options[$('id_media_type').selectedIndex].value
        if(current_media_type != selected ){
            update_form(id_var_selected , selected, 'sub_form_content' )
            current_media_type = selected
            }
    
    }
    
    function rename_variant(variant_id,  name){
    $('var_' + variant_id).innerHTML = name;
    
    }
    function _rename_variant(){
        id_var_selected = $('id_variants').options[$('id_variants').options.selectedIndex].value;
        open_edit_window('/new_variant/{{ws.pk}}/{{subpage}}/' + id_var_selected +'/', true);
    }
    
    function generate_variants(){
        Dialog.alert('Variant generation started, it could take a while', { className: 'alphacube' ,width:300, height:100, okLabel: 'close', ok:function(win) {return true;}, onOk: function(){$('save_button').clicked = true; $('pref_form').submit()}})
    }
    
    function delete_variant(){
        Dialog.confirm("Are you sure you want to delete this variant?", 
        { className: 'alphacube' ,
        width:300, 
        height:100,
        onOk: function(win){
            id_var_selected = $('id_variants').options[$('id_variants').options.selectedIndex].value;
            new Ajax.Request('/delete_variant/'  + id_var_selected + '/', 
                                        {onComplete: function(o){
                                            parent.adminwin.setURL('/preferences/{{ws.pk}}/{{subpage}}/')
                                            
                                            }
                                        }
            );
            return true;
        }
        
        
        
        });
    }
    
{%ifequal variant.internal_variant 1 %}
    //document.observe("dom:loaded", function (){$('rename_button').hide(); $('delete_button').hide()});
    document.observe("dom:loaded", function (){$('rename_button').addClassName('disable'); $('delete_button').addClassName('disable')});
    
{%else%}
    //document.observe("dom:loaded", function (){$('rename_button').show(); $('delete_button').show()});
    document.observe("dom:loaded", function (){$('rename_button').removeClassName('disable'); $('delete_button').removeClassName('disable')});
{%endifequal%}


internal_variants = []


 {%for var in available_variants%}
        {%ifequal var.internal_variant 1%}
            internal_variants.push({{var.pk}})
        {%endifequal%}
{%endfor%}


document.observe("dom:loaded", function (){

{%ifequal subpage "movie" %}
	change_format();
{%endifequal%}

    resize_win();
    watermarking($('pos').value)                                        
    if(! $('id_apply_watermarking').checked){        
         disable_wm()

    }
    else
        enable_wm()

if($('id_media_type'))
	current_media_type = $('id_media_type').options[$('id_media_type').selectedIndex].value
    current_variant_id = {{variant.pk}}
	
	
	
    });


function set_slider(){
    $("id_watermarking_transparency").style.width = '35px';
// from the author's first demo of a vertical slider.  It begins disabled.
        s2 = new Control.Slider($$('.handle'), 'track_slider', {
        axis: 'horizontal',
        minimum: 0,
        maximum: 100,
        onChange: function(value){
            $('id_watermarking_transparency').value = Math.ceil(value * 100) ;
        },
        onSlide: function(value){
            $('id_watermarking_transparency').value = Math.ceil(value * 100) ;
        }
    
    });
    
  s2.setValue(parseInt($("id_watermarking_transparency").value)/100)
}

</script>



{%endblock%}
	
	{% block content %}
	{%comment%}
	<div class="navigation" >
		<ul>
					
				<li {%ifequal subpage 'image'%}class="activelink" {%endifequal%}>
					<a  href="/preferences/{{ws.id}}/image/" >Image</a>
				</li>
				<li {%ifequal subpage 'movie'%}class="activelink" {%endifequal%}>
					<a  href="/preferences/{{ws.id}}/movie/">Video</a>
				</li>
				
				<li {%ifequal subpage 'audio'%}class="activelink" {%endifequal%}>
					<a  href="/preferences/{{ws.id}}/audio/">Audio</a>
				</li>
			
		</ul>
	</div>
        {%endcomment%}
    <div id="wrapper">
        <div id="variant_toolbar">
            <div id="menu">
            <ul onmouseover="" id="root" class="level1 horizontal">              
                <li id="image" class="level1 no_bgimage {%ifequal subpage 'image'%}activelink{%endifequal%}">
                    <a href="/preferences/{{ws.id}}/image/">Image</a>
                 </li>
                 
                 <li id="video" class="level1 no_bgimage {%ifequal subpage 'movie'%}activelink{%endifequal%}"">
                    <a  href="/preferences/{{ws.id}}/movie/">Video</a>
                 </li>
                 
                 <li id="audio" class="level1 no_bgimage {%ifequal subpage 'audio'%}activelink{%endifequal%}"">
                    <a  href="/preferences/{{ws.id}}/audio/">Audio</a>
                 </li>
                 
                 <li id="actions" class="level1">
                    <a href="#">Actions</a>
                    <ul class="level2 dropdown" style="position: absolute; top: 116px; left: 7px; visibility: hidden;">
                      <li class="level2 selection_multiple ">
                        <a name="" href="#" onclick="open_edit_window('/new_variant/{{ws.pk}}/{{subpage}}/'); ">New Variant</a>
                      </li>
                      
                    <li id="rename_button"  class="level2 selection_multiple ">
                        <a name="" href="#" onclick="_rename_variant()">Rename</a>
                    </li>
                      
                    <li  id="delete_button" class="level2 selection_multiple ">
                        <a name="" href="#" onclick="delete_variant()">Delete</a>
                    </li>
                 </li>
                 
                 
            </ul>


            </div>
        </div>
    </div>
	
	

	<div class="admin" >
			{%if variant.pk%}
				<form action="/preferences/{{ws.id}}/{{subpage}}/{{variant.pk}}/" method="POST" id="pref_form">
			{%else%}
				<form action="/preferences/{{ws.id}}/{{subpage}}/" method="POST" id="pref_form">
			{%endif%}       
                        <span style="color:#104166; font-weight:bold">
						Variant:
                        
                        <select id='id_variants' name="variant" onmouseup="load_variant_pref()">
                        
                            <!--option id="new" value="new">New variant...</option-->
                        
                        
                        {%for var in available_variants%}
                            <option id="var_{{var.pk}}" value="{{var.pk}}" {%ifequal var variant%} selected {%endifequal%}>{{var.variant_name}}</option>
                        {%endfor%}
                        
                        
                        </select>
						
                        {%comment%}						
                            <input id="rename_button" type="button"   name="cmd" value="rename" onclick="_rename_variant()"/>
                            <input id="delete_button" type="button" name"cmd"   value="delete" onclick="delete_variant()"/>
                    {%endcomment%}						
					<input id="save_button" type="button"  name="cmd"  value="save and generate variants" onclick="generate_variants()" >    
					
					
					</span>  
					{%block media_type%}
					{%endblock%}
				
                    <div id="form_content">
					
                        {%block form_content%}
                        {%endblock%}
                    </div>
				
				<div id="stylesheetTest"></div>

                <input id="save_button" type="button"  name="cmd"  value="save and generate variants" onclick="generate_variants()" >
              

			</form>	
	</div>
</div>



{%endblock%}


