
           <a style="font-size:small" href="#" onclick="new Ajax.Updater('member_list','/admin_workspace_get_groups/{{ws.pk}}/' ,{onComplete:resize_win})">back to groups list</a> 
           <br>
           <div style="text-align:center; color:#104166; font-weight:bold">
        
                {%if  group.name%}
                   group {{group.name}}    
                {%else%}
                    new group
                {%endif%}                 
        	
            </div>
            <form id="admin_form" name="permissions" {%if group.id%}action="/admin_workspace_groups/{{ws.id}}/{{group.id}}/" {%else%} action="/admin_workspace_groups/{{ws.id}}/add/"  {%endif%} method="POST" onsubmit="return false" >
                
                
                <!--input type="button"  class="button" value="save" onClick="save_group()"  /-->
                {%if group.id%} 
                    <!--input type="button" class="button" value="delete"  onClick="delete_group({{group.id}})" /--> 
                {%endif%} 
                    {%for field in form%}
                    <fieldset>
                    {% if field%}
                    <legend>{{field.label}}</legend>
                      {{field}} 
                        {% if field.errors %}<dd class="errors">{{ field.errors }}</dd>{% endif %}
                    {% endif %}
                    </fieldset>
                    {%endfor%}
                    <fieldset>
                    <legend>Members</legend>
                    <div id="members" style="overflow:auto; height:300px">
                        <div id="members_buttons">              
	                        <div style="float:left">
	                            <div id="users_list" style="float:left;  width:150px"><a onclick="get_users({{group.pk|default:""}})" style="display:block; float:left">add a user</a></div>
	                        </div>
							<div style="float:right;" >
	                            <input  type="button" id="remove" name="cmd"  value="remove selected" onclick="remove__tmp_group_selected()" />
	                            <input  type="button" id="select_all_button" name="cmd"  value="select all" onclick="select_all()" />
	                            <input   type="button" id="un_select_all_button" name="cmd"  value="unselect all" onclick="un_select_all()" />
							</div>
                        </div>
                    
                    <br>
        <!--a onclick="get_users()">add a user</a>
        <div>
            <div id="users_list" style="display:none; width:250px"></div>
            
        </div-->
        <br>
        
                    
                    <table id="members_table" style="width:100%" >
                        <thead>
                            <tr>
                            <th style="width:20px">
                                    <br>
                            </th>
                            <th>
                                username
                            </th>
                            
                            
                            </tr>
                        </thead>
                        {%for member in members%}
                        <tr >
                            <th style="width:20px">
                                <input type="checkbox" class="main_check" value="{{member.pk}}" />
                                <input type="hidden" id="member_{{member.pk}}" name="members" value="{{member.pk}}" />
                            </th>
                            <th >
                                {{member}}
                                </th>
                                
                                    
                                       
                                </th>
                            
                        </tr>
                        {%endfor%} 
                    </table>
                                    
                    
                    <div>
                    </fieldset>
                    <input type="button" name="cmd"  class="button" value="save" onclick="window.scroll(0,0);new Ajax.Updater('member_list', '/admin_workspace_groups/{{ws.pk}}/{%if group.id%}{{group.id}}/{%else%}add/{%endif%}', {postBody:$('admin_form').serialize(), onComplete:resize_win})"/>
                    
                    {%if group.id%} 
                        <input type="button" name="cmd" class="button" value="delete"  onClick="delete_group({{group.id}})" /> 
                    {%endif%}
                    <input type="button" name="cmd"  class="button" value="discard"  onclick="new Ajax.Updater('member_list','/admin_workspace_get_groups/' ,{onComplete:resize_win})"/>

        
        </form>





