                    {%if variant.resizable%}
					<fieldset>
					<legend>Resize</legend>
                      <span class="oneChoice">
                            <label class="preField">Max dimension</label>
                            {{form.resize_width}}
                        </span>
                      <span class="oneChoice">
                             <label class="preField">Enable Cropping</label>
                            {{form.cropping}}
                      </span>

                        </fieldset>
						{%endif%}
                        <fieldset>
                            <legend>Transcoding format</legend>
                            <span class="oneChoice">
                                <label class="preField">format</label>
                                {{form.transcoding_format }}
                            </span>

				</fieldset>
				{% include "admin/workspace/watermarking.html" %}
				{% include "admin/workspace/license.html" %}
			

                
