<form  id="form_list" action="/admin_workspace_remove_members/" method="POST">
<div id="buttons" style="padding-bottom:20px">
    <!--div style="display:block; float:left; ">
        {{form.members_to_add}}
        <input type="button" value="add" onclick="do_add()" />
    </div>
        
    <div style="display:block; float:left; padding-left:15; padding-top:4"-->
    <div >
        <input type="button" value="add" onclick="add_user()" />
        <input type="button" value="remove" onclick="remove_selected('/admin_workspace_remove_members/{{ws.pk}}/')"/>
        <input type="button" value="set permissions" onclick="set_permissions('users')"/>
                
        <input type="button" value="set groups" onclick="set_groups()"/>
            
        
    
    </div>
</div>
<br>
<div style="display:block; float:left">
Select: <a href="javascript:void(0)" onclick="select_all()">all</a> | <a href="javascript:void(0)" onclick="un_select_all()">none</a>    
</div>
    <div id="alert" style="display:block; float:left; color:red; padding-left:130px; "></div>

<table style="width:100%" >
        <thead>
            <tr>
            <th style="width:20px">
                    <br>
            </th>
            <th>
                username
            </th>
            
            <th>
                groups
            </th>
           
           
            
            </tr>
        </thead>
        {%for member in members%}
        
            <tr>
            
            <th style="width:20px">
                <input type="checkbox" class="main_check" id="member_{{member.pk}}" name="members" value="{{member.pk}}" />
                
                
                
            </th>
            <th width="200px">
                {{member}}
                
            </th>
                
                
             
                
                    <th width="400px">
                    
                    {%for group in member.perm_groups %}
                   <span id="group_{{member.pk}}_{{group.pk}}">
                    {{group.name}} <a href="javascript:void(0)" style="font-size:10px" onclick="remove_group({{member.pk}},{{group.pk}})">[X]</a>   </span>
                    {%endfor%}
                    
                  
                    </th>
                
                    <!--th>
                    
                        <div id="buttons_{{member.pk}}"  class="buttons" style="display:none; text-align:right"  >
                        
                            <input class="button_permissions" type="button" id="{{member.pk}}_button_permissions" name="permissions_button" value="show permissions" onclick="manage_permissions({{member.pk}}, 'users')" 
                            />
                            <input class="button_permissions" type="button" id="{{member.pk}}_button_groups" name="groups_button" value="show groups"  onclick="manage_groups({{member.pk}})" />
                        
                            
                      
                       </div>
                       
                       <div id="permissions_{{member.pk}}" style="display:none; overflow:auto; height: 250px;" class="permissions_box"></div> 
                       
                </th-->
            
                
           
            
            
        </tr>
        {%endfor%} 
    </table>
</form>
