{% extends "admin/workspace/base.html" %}
{%block js%}
<script>
onmouseover_show = true;
var timeout = 0; 
function infoTimeout() { 
    timeout--; 
    if (timeout <= 0)
        $('alert').innerHTML=""
    else
        setTimeout(infoTimeout, 1000) 
    
        
    }


function select_all(){
        //boxes = $$('input[type="checkbox"]')
        boxes = $$('.main_check')
        for(i = 0; i<boxes.length; i++)
            boxes[i].checked = true;
    }
    
    function un_select_all(){
        boxes = $$('.main_check')
        for(i = 0; i<boxes.length; i++)
            boxes[i].checked = false;
    }
    
    function remove_selected(url, type){
        if(!type)
            type = 'users'
        boxes = $$('.main_check:checked')
        if (boxes.length == 0 ){
        $('alert').innerHTML = 'no ' +type+' selected'
        timeout=5; 
        setTimeout(infoTimeout, 1000) 
    
        return;
        }
        
        if (boxes.length == 1 ){
            if(boxes[0].value == '{{user.pk}}' && type == 'users'){
                $('alert').innerHTML = 'you cannot remove yourself'
                timeout=5; 
                setTimeout(infoTimeout, 1000) 
                return;
            }
        
        }
        
        
        
        if (boxes.length > 0){
            Dialog.confirm('Are you sure you want to remove the selected ' +type+ '?',
            { className:"alphacube", width:250, height:100,showEffect:Element.show, hideEffect: Element.hide,
            onOk: function(win){
                    new Ajax.Updater('member_list', url, {postBody:$('form_list').serialize(), 
                    onComplete: function(o){
                    adjust_height()
                    if(type == 'users')
                        for(i = 0; i<boxes.length; i++)
                            if(boxes[i].value == '{{user.pk}}' ){
                                $('alert').innerHTML = 'you cannot remove yourself'
                                timeout=5; 
                                setTimeout(infoTimeout, 1000) 
                                break;
                    
                    }
                    
                    
                    }
                    
                    } )
                    
                    return true;},
            }
            )
        }
        else{}
        
    }
    
    
    
    function save_permissions(url, div){
    if (div)
        new Ajax.Updater(div, url, {postBody: $('form_list').serialize() + '&remove=true'})
    else
        new Ajax.Request(url, {postBody: $('form_list').serialize() + '&remove=true'})
    }
    
    function manage_permissions(member_pk, type){
        $('permissions_' + member_pk ).toggle();
        if($('permissions_' + member_pk ).visible())
            new Ajax.Updater('permissions_' + member_pk, '/admin_workspace_set_permissions/' +type+'/'+ member_pk + '/',{method:'get'});
    }
    
    function manage_groups(member_pk){
    
    
    if($(member_pk + '_button_groups').value == 'show groups'){
        //hide_other_box()
        onmouseover_show = false;
        $(member_pk + '_button_groups').value = 'hide groups';
        if($(member_pk + '_button_permissions'))
            $(member_pk + '_button_permissions').value = 'show permissions';
        $('permissions_' + member_pk ).show();
		window.parent.updateHeightAdmin($('admin').getHeight());
        new Ajax.Updater('permissions_' + member_pk, '/admin_workspace_set_groups/' + member_pk + '/',{method:'get'});
        
        }
    else{
    $(member_pk + '_button_groups').value = 'show groups';
    $('permissions_'+ member_pk ).hide();
    onmouseover_show = true;
    }
                        
    
    }
    
    function hide_other_box(){
        
        boxes = $$('.permissions_box')
        for(i = 0; i < boxes.length; i++)
            boxes[i].hide()
        buttons = $$('.button_permissions')
        for(i = 0; i < buttons.length; i++){
            tmp = buttons[i].value.split(" ")[1];
            buttons[i].value = 'show ' + tmp;
        }
    }
    
    function hide_buttons(){
        boxes = $$('.buttons');
        for(i = 0; i < boxes.length; i++)
            boxes[i].hide()
    
    }
    
    function show_buttons(member_pk){
    hide_buttons(); 
    hide_other_box(); 
    $('buttons_' + member_pk).show();
    
    }
    
    function remove_user(member_id, user_name){
        Dialog.confirm('Are you sure you want to remove "' + user_name+ '" from the current workspace?',
            { className:"alphacube", width:250, height:100,showEffect:Element.show, hideEffect: Element.hide,
            onOk: function(win){
                    
                    $('member_row_' + member_id).remove()
                    
                    
                    return true;},
            })
    
    }
    
    function add_user(){
    Dialog.confirm({url: '/admin_workspace_add_members/{{ws.pk}}/', options:{ method:'get'}},
    {className:"alphacube", 
    width:300,
    height:350,
    resizable: false,
    draggable: false,
    maximizable: false,
    minimizable: false,
    destroyOnClose: true,
    closable: true,
    showEffect:Element.show, 
	hideEffect: Element.hide,
    onOk: function(win){
    do_add();
    return true;
    }
    
    }
    
    )

        }
    
    function do_add(){
        //if($('id_members_to_add').options.selectedIndex != 0)
            new Ajax.Updater('member_list','/admin_workspace_add_members/{{ws.pk}}/', {postBody: $('form_add').serialize(),
           onComplete: function(o){
           if($('global_fieldset').getHeight() > $('admin').getHeight())
                $('admin').style.height = 'auto'
           resize_win()
           }
           
           
           })
    }
    
    
    
    
    
    
    function change_state_checkbox(event) {
            
            div = $(event.element());
           
            ck = $$('.visible_checkbox[value="' +div.id+'"]')[0]
            if(ck){
                if (ck.hasClassName('tristate')){
                    //alert(ck.value)
                    if (ck.disabled){
                        ck.disabled = false
                        ck.checked= false
                        hidden_ck = $$('.hidden_checkbox[value="'  +ck.value+ '"]')[0]
                      
                        hidden_ck.checked = false
                    
                    }
                    else if(ck.checked){
                        ck.disabled = true
                    }
                    else{
                        ck.checked = true
                        hidden_ck = $('.hidden_checkbox[value="'  +ck.value+ '"]')[0]
                        hidden_ck.checked = true
                        }
                }
                else{
                    if(ck.checked)
                        ck.checked = false
                    else
                        ck.checked = true
                    }
                
           }
        }
    
    
    
    
    
    function set_groups(){
        url = '/admin_workspace_set_groups/{{ws.pk}}/'
        function callback(o){
            new Ajax.Updater('member_list', '/admin_workspace_add_members/{{ws.pk}}/', {
                onComplete: function(o){                
                
                for (i = 0; i < boxes.length; i++)
                    $(boxes[i].id).checked = true;
                }
            })
        }
        
        new Ajax.Request('/admin_workspace_get_groups_count/{{ws.pk}}/', 
        {onComplete: function(o){
            if (o.responseText == '0'){
                $('alert').innerHTML = 'no groups found. Create one first.'
                timeout=5; 
                setTimeout(infoTimeout, 1000) 
            }
            else
                popup(url, 'users', callback)
            }})
        
        
    }
    
     function set_permissions(type){
        if(!type)
            type = 'users'
        url = '/admin_workspace_set_permissions/{{ws.pk}}/' + type + '/'
        popup(url, type)
    }
   
    
    function popup(url, type, callback){
    boxes = $$('input[type="checkbox"]:checked')
    if (boxes.length == 0 ){
        $('alert').innerHTML = 'no '  + type +' selected'
        timeout=5; 
        setTimeout(infoTimeout, 1000) 
    
        return;
        }
    height = 400
    if($('admin').getHeight() < height){
        
        window.parent.updateHeightAdmin(height + 50);
    }
        
    Dialog.confirm({url: url, options :{postBody: $('form_list').serialize() + '&onshow=true'}},
    {
    onOk:function(win){
        groups = $('id_form_permissions').serialize()
        new Ajax.Request(url, {postBody: $('form_list').serialize() + '&remove=true&' + groups, 
        onComplete: callback
        })
        
        return true;
    
    },
    className:"alphacube", 
    width:300,
    height:height,
    resizable: false,
    draggable: false,
    maximizable: false,
    minimizable: false,
    destroyOnClose: true,
    closable: true,
    showEffect:Element.show, 
	hideEffect: Element.hide,
    onShow: function(){
           
            tristate = $$('.hidden_checkbox')
           permissions = $$('.visible_checkbox')
           
            for(i=0; i<tristate.length; i++){
                if (tristate[i].checked){
                        ck = $$('.visible_checkbox[value="'+ tristate[i].value+'"]')[0]
                        ck.disabled = true;
                        ck.addClassName('tristate');
                        ck.addClassName('on_third_state');
                        
                        //ck.up('div').observe('click', change_state_checkbox)
                        }
                    
            
            }
            for(i=0; i<permissions.length; i++){
                ck = permissions[i]
              
                //ck.up('div').observe('click', change_state_checkbox)
                ck.up('div').onclick = change_state_checkbox
            }
            
            
            }
    }
    
    )
   
    }
    
    
    
    
    function _set_permissions(type){
        $('permissions' ).toggle();
        
        
        if($('permissions').visible()){
        
        
        
            new Ajax.Updater('permissions', '/admin_workspace_set_permissions/' +type+'/', {postBody: $('form_list').serialize() + '&onshow=true', onComplete: function(o){
            tristate = $$('.hidden_checkbox')
           permissions = $$('.visible_checkbox')
           
            for(i=0; i<tristate.length; i++){
                if (tristate[i].checked){
                        ck = $$('.visible_checkbox[value="'+ tristate[i].value+'"]')[0]
                        ck.disabled = true;
                        ck.addClassName('tristate');
                        ck.addClassName('on_third_state');
                        
                        //ck.up('div').observe('click', change_state_checkbox)
                        }
                    
            
            }
            for(i=0; i<permissions.length; i++){
                ck = permissions[i]
              
                //ck.up('div').observe('click', change_state_checkbox)
                ck.up('div').onclick = change_state_checkbox
            }
            
            
            }});
    
    
    }
    
    }
    
    function remove_group(member_pk,group_pk){
        new Ajax.Request('/admin_workspace_remove_user_from_groups/{{ws.pk}}/', {postBody: 'member_pk='+ member_pk + '&group_pk='+group_pk, onComplete: $('group_'+ member_pk + '_' + group_pk).remove()} )
    
    
    }
    
    
    
    
     function delete_group(group_id){
            Dialog.alert('Are you sure you want to delete the current group?', 
                {className: 'alphacube', width:300, height:100,
                    onOk: function(win){
                        new Ajax.Request('/admin_workspace_groups/{{ws.id}}/'+ group_id + '/', {
                            parameters:'cmd=delete', 
                            onComplete: function(){window.parent.adminwin.setURL('/admin_workspace_permissions/groups/{{ws.id}}')}                
                        })
                    } 
                })
        }
        
        
    function get_users(group_pk){

        $('users_list').show()
        if (group_pk)
            new Ajax.Updater('users_list', '/admin_workspace_add_members_to_group/{{ws.pk}}/' + group_pk + '/',{method:'get'})
        else
            new Ajax.Updater('users_list', '/admin_workspace_add_members_to_group/{{ws.pk}}/' ,{method:'get'})
        
    
    }
    
      function add_user_to_group()  {
      id_selected = $('id_members').selectedIndex
      if (id_selected ){
      user_id = $('id_members').options[id_selected].value
      if(!($('member_' + user_id ))){
        
            tr = document.createElement('tr')
            th_check =document.createElement('th')
            th_name = document.createElement('th')
            checkbox = document.createElement('input')
            checkbox.type = 'checkbox'
            checkbox.addClassName("main_check")
            hidden = document.createElement('input')
            hidden.type = 'hidden'
            hidden.id="member_" + user_id
            hidden.name="members" 
            hidden.value= user_id
            
            th_check.appendChild(checkbox)
            th_check.appendChild(hidden)
            
            
            th_name.innerHTML = $('id_members').options[id_selected].innerHTML
            tr.appendChild(th_check)
            tr.appendChild(th_name)
            $('members_table').appendChild(tr)
            }
      }
      
    
      
      }
      
      function remove__tmp_group_selected(){
      boxes = $$('.main_check')
      
      
        for(i = 0; i<boxes.length; i++){
            c =boxes[i] 
            if(c.checked)
                c.parentNode.parentNode.remove()
                
                }
    }
      
      
    
    
</script>
{%endblock%}
{% block content %}
	
    
    
<br>
<input type="radio" name="type" value="members"  {%ifequal type 'members'%}checked {%endifequal%}
    onclick="new Ajax.Updater('member_list', '/admin_workspace_add_members/{{ws.pk}}/', 
    { onComplete: function(){window.parent.updateHeightAdmin($('admin').getHeight());}})">


 Members
 </input>
<input type="radio" name="type" value="groups"  {%ifequal type 'groups'%}checked {%endifequal%}
    onclick="new Ajax.Updater('member_list', '/admin_workspace_get_groups/{{ws.pk}}/', 
    {onComplete: function(){window.parent.updateHeightAdmin($('admin').getHeight());}})"
>
Groups
</input>



 

<fieldset id="global_fieldset" style="min-height:300px">
            

    <!--div id="add_a_user" style=" width:150px; height:40px; "></div-->

    
    
    
    
    
        
        <!--div id="members_buttons" style="text-align:right">
          
            <input  type="button" id="select_all_button" name="cmd"  value="select all" onclick="select_all()" />
            <input   type="button" id="un_select_all_button" name="cmd"  value="unselect all" onclick="un_select_all()" />
        </div-->
    
    
        
        
      
        <div id="member_list">
        {%ifequal type 'members'%}
            {%include 'admin/workspace/member_list.html'%}
        {%else%}
            {%include 'admin/workspace/group_list.html'%}
        {%endifequal%}
        </div>
        
           
        </fieldset>
		

{% endblock %}
