
	
	
    <!--span style="color:#104166; font-weight:bold; {%ifequal variant.internal_variant 1%} display:none{%endifequal%}" >
        <fieldset {%ifequal variant.internal_variant 1%} style="display:none"{%endifequal%}"-->
        <fieldset >
            <legend>media type </legend>
            <span class="oneChoice">
                <label class="preField">type</label>
            {{form.media_type}}
            </span>
		</fieldset>
    <!--/span-->	


<div id="sub_form_content">
{%ifequal form.variant_preferences.media_type.name "image"%}
	{%include "admin/workspace/image_variant_form.html"%}
{%else%}
	{%include "admin/workspace/sub_video_variant_form.html" %}
{%endifequal%}
</div>
