<html>
<head>
	<title>Demo Application</title>


	<link rel="stylesheet" type="text/css" href="/files/ext/resources/css/ext-all.css" />
	<link rel="stylesheet" type="text/css" href="/files/css/itemview.css" />
	<link rel="stylesheet" type="text/css" href="/files/css/tools_icons.css" />
    
    <link rel="stylesheet" type="text/css" href="/files/ext/Ext.ux.StarRating_1.0/Ext.ux.StarRating.css"/>
    <script type="text/javascript" src="/files/ext/adapter/ext/ext-base.js"></script>
	<script type="text/javascript" src="/files/ext/ext-all-debug.js"></script>
    <script type="text/javascript" src="/files/ext/Ext.ux.StarRating_1.0/Ext.ux.StarRating.js"></script>
    <script src="/files/flowplayer/flowplayer-3.1.4.min.js"></script>
    
    <script type="text/javascript">
        user = "{{user}}"
    
    </script>
    <script src="files/gears_init.js"></script>
    <script src="files/QueueCPP.compressed.js"></script>
    <script type="text/javascript" src="/files/upload_gears.js"></script>
	
    <script type="text/javascript" src="/files/general.js"></script>
	
    
</head>
<body>

	<div id="logo" style="width:100%">
		<div style="width:30%; float:left">
		
			<img src="/files/images/logo.png" style="vertical-align:middle;"/>
		</div>
		
		<div style="float:right; margin-top:11px; font-size:11px; padding-right:10px">
			logged as {{user}} | <a href="/logout/">logout</a>
		</div>


	</div>

	<div id="north">
		<div id="toolbar"></div>
	</div>

</body>
</html>
