<html>
<head>
	<title>NotreDAM</title>

    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />

	<link rel="stylesheet" type="text/css" href="/files/ext/resources/css/ext-all.css" />
	<link rel="stylesheet" type="text/css" href="/files/css/tools_icons.css" />
	
	<link rel="stylesheet" type="text/css" href='{{theme_css}}'/>
	{%block css%}
		
	{%endblock%}
	
	
	<script type="text/javascript" src="/files/ext/adapter/ext/ext-base.js"></script>
	<script type="text/javascript" src="/files/ext/ext-all-debug.js"></script>
	<script type="text/javascript" src="/files/ext/header.js"></script>
    
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    
	
	{%block js%}
	
	{%endblock%}
        
        <script type="text/javascript">
            if (window['loadFirebugConsole']) {
                window.loadFirebugConsole();
            } else {
                if (!window['console']) {
                    window.console = {};
                    var f = function func(arg){};
                    window.console.info = f;
                    window.console.log = f;
                    window.console.warn = f;
                    window.console.error = f;
                }
            }
        </script>
        
    	<script type="text/javascript">
            var user = "{{user.username}}";
    		{%block header_info%}
    			var HEADERHEIGHT = 60;
    		{%endblock%}
   		</script>
	 	
	
</head>
<body{%block body%}{%endblock%}>
 {%block logo%}
        <div id="logo" style="width:100%">
           <div style="width:30%; float:left">
                <a href="/" title="Home">
                    <img src="/files/images/logo_notredam_small_no_margin.png" style="vertical-align:middle;"/>
            </a>
        </div>
	{%endblock%}
{%block body_content%}
   
		
{%endblock%}
</body>
</html>
