{%extends "workspace_gui.html"%}

{%block css%}
	<link rel="stylesheet" type="text/css" href="/files/css/GroupTab.css" />	
{%endblock%}

{%block js%}
	<script type="text/javascript" src="/files/ext/adapter/ext/ext-base.js"></script>

	<script type="text/javascript" src="/files/ext/ext-all-debug.js"></script>

	<script type="text/javascript" src="/files/ext/GroupTab.js"></script>
	<script type="text/javascript" src="/files/ext/GroupTabPanel.js"></script>

    <script type="text/javascript" src="/files/ext/admin_metadata.js"></script>
    <script type="text/javascript" src="/files/ext/admin_users.js"></script>
    <script type="text/javascript" src="/files/ext/admin_ws.js"></script>

    <script type="text/javascript" src="/files/ext/preferences.js"></script>

    <script type="text/javascript" src="/files/ext/admin.js"></script>
{%endblock%}

{%block prefs%}
{%endblock%}

{%block toolbar%}
{%endblock%}

{%block header_info%}
 	var HEADERHEIGHT = 40;
 {%endblock%}
