{% extends "workspace_gui.html" %}
{%block css%}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="/files/WireIt-0.5.0/lib/yui/fonts/fonts-min.css" /> 
	<link rel="stylesheet" type="text/css" href="/files/WireIt-0.5.0/lib/yui/reset/reset-min.css" /> 
	<link rel="stylesheet" type="text/css" href="/files/WireIt-0.5.0/lib/yui/container/assets/container.css"> 
	<link rel="stylesheet" type="text/css" href="/files/WireIt-0.5.0/css/WireIt.css" />
	<link rel="stylesheet" type="text/css" href="/files/css/msgbox.css" />
    <link rel="stylesheet" type="text/css" href="/files/css/superboxselect.css" />
	
	
	<style> 
		body {
			font-size: 10px;
		}
		div.WireIt-Container {
			width: 350px; /* Prevent the modules from scratching on the right */
		}
		div.WireIt-InputExTerminal {
			float: left;
			width: 21px;
			height: 21px;
			position: relative;
		}
		div.WireIt-InputExTerminal div.WireIt-Terminal {
			top: -3px;
			left: -7px;
		}
		div.inputEx-Group div.inputEx-label {
			width:100px;
		}
		
		
		div.body{
			overflow:auto;
		}
		
	</style> 
	 
	
	
{%endblock%}

{%block prefs%}
{%endblock%}

{%block js%}
	<script type="text/javascript">
        if (window['loadFirebugConsole']) {
            window.loadFirebugConsole();
        } else {
            if (!window['console']) {
                window.console = {};
                var f = function func(arg){};
                window.console.info = f;
                window.console.log = f;
                window.console.warn = f;
                window.console.error = f;
            }
        }
    </script>
	
	<!--script type="text/javascript" src="/files/ext/msgbox.js"></script-->
	<script type="text/javascript" src="/files/ext/RowExpander.js"></script>
    <script type="text/javascript" src="/files/ext/SuperBoxSelect.js"></script>
	<script type="text/javascript" src="/files/ext/script_ux.js"></script>
	
	<!-- YUI-->
	
	
	<script type="text/javascript" src="/files/WireIt-0.5.0/lib/yui/utilities/utilities.js"></script> 
	<script type="text/javascript" src="/files/WireIt-0.5.0/lib/yui/container/container-min.js"></script> 
	<script type="text/javascript" src="/files/WireIt-0.5.0/lib/yui/json/json-min.js"></script> 
	
	
	<!-- WireIt --> 
	<script type="text/javascript" src="/files/WireIt-0.5.0/js/WireIt.js"></script> 
	<script type="text/javascript" src="/files/WireIt-0.5.0/js/CanvasElement.js"></script> 
	<script type="text/javascript" src="/files/WireIt-0.5.0/js/Wire.js"></script> 
	<script type="text/javascript" src="/files/WireIt-0.5.0/js/Terminal.js"></script> 
	<script type="text/javascript" src="/files/WireIt-0.5.0/js/util/DD.js"></script> 
	<script type="text/javascript" src="/files/WireIt-0.5.0/js/util/DDResize.js"></script> 
	<script type="text/javascript" src="/files/WireIt-0.5.0/js/Container.js"></script>
<!--
	<script type="text/javascript" src="/files/WireIt-0.5.0/js/CanvasContainer.js"></script> 
-->

	<!--script type="text/javascript" src="/files/WireIt-0.5.0/js/InOutContainer.js"></script--> 
	<script type="text/javascript" src="/files/WireIt-0.5.0/js/Layer.js"></script>
	 
	
	 

	<script type="text/javascript">
		
		var script_pk, script_name, params, script_type = '', types_available, workspace;
		workspace = {
			id: '{{workspace.pk}}',
			name: '{{workspace.name}}'
		};
		
		{%if params%}
			params = Ext.decode('{{params|safe}}');
		{%endif%}
		
		{%if name%}
			script_name = '{{name}}';
		{%endif%}
		
		{%if pk%}
			script_pk = '{{pk}}';
		{%endif%}
		
		{%if types_available%}
			types_available = Ext.decode('{{types_available|safe}}');
		{%endif%}
		
		
		
	</script>
	
	<script type="text/javascript" src="/files/ext/header.js"></script>
	<script type="text/javascript" src="/files/ext/script_gui.js"></script>



{%endblock%}

{%block toolbar%}

{%endblock%}

{%block header_info%}
	var HEADERHEIGHT = 30;
{%endblock%}


{%block logo%}
    <div id="logo" style="width:100%">
       <div style="width:30%; float:left">
            <a href="/" title="Home">
                <img src="/files/images/logo_notredam_small_no_margin.png" style="vertical-align:middle;"/>
        </a>
        <div style="font-size:12px; position: relative; left:135px; top: -20px;">Script Editor</div>
    </div>
    
{%endblock%}

{%block body%}

onbeforeunload="if (!params_equal(baseLayer.getJson(),saved_params)) return 'Warning: script modified. Are you sure you want to close this window without saving?'; "

{%endblock%}
