<html> 
 <head> 
  <title>NotreDam</title> 
  

<link rel="stylesheet" type="text/css" href="/files/ext/resources/css/ext-all.css" />

<script type="text/javascript" src="/files/ext/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="/files/ext/ext-all-debug.js"></script>
<script type="text/javascript" src="/files/ext/msgbox.js"></script>
  

<!-- YUI--> 
<link rel="stylesheet" type="text/css" href="/files/WireIt-0.5.0/lib/yui/fonts/fonts-min.css" /> 
<link rel="stylesheet" type="text/css" href="/files/WireIt-0.5.0/lib/yui/reset/reset-min.css" /> 
<link rel="stylesheet" type="text/css" href="/files/WireIt-0.5.0/lib/yui/container/assets/container.css"> 

<script type="text/javascript" src="/files/WireIt-0.5.0/lib/yui/utilities/utilities.js"></script> 
<script type="text/javascript" src="/files/WireIt-0.5.0/lib/yui/container/container-min.js"></script> 
<script type="text/javascript" src="/files/WireIt-0.5.0/lib/yui/json/json-min.js"></script> 

<!-- InputEx --> 
<script src="/files/WireIt-0.5.0/lib/inputex/js/inputex.js"  type='text/javascript'></script> 
<script src="/files/WireIt-0.5.0/lib/inputex/js/Field.js"  type='text/javascript'></script>
 
 
<script type="text/javascript" src="/files/WireIt-0.5.0/js/util/inputex/WirableField-beta.js"></script> 
 
<script src="/files/WireIt-0.5.0/lib/inputex/js/Group.js"  type='text/javascript'></script> 
<script src="/files/WireIt-0.5.0/lib/inputex/js/fields/StringField.js"  type='text/javascript'></script> 
<script src="/files/WireIt-0.5.0/lib/inputex/js/fields/SelectField.js"  type='text/javascript'></script> 
<script src="/files/WireIt-0.5.0/lib/inputex/js/fields/EmailField.js"  type='text/javascript'></script> 
<script src="/files/WireIt-0.5.0/lib/inputex/js/fields/UrlField.js"  type='text/javascript'></script> 
<script src="/files/WireIt-0.5.0/lib/inputex/js/fields/ListField.js"  type='text/javascript'></script> 
<script src="/files/WireIt-0.5.0/lib/inputex/js/fields/CheckBox.js"  type='text/javascript'></script> 
 
 
<link rel="stylesheet" type="text/css" href="/files/css/msgbox.css" />
 
<!-- InputEx CSS > 
<link type='text/css' rel='stylesheet' href='/files/WireIt-0.5.0/lib/inputex/css/inputEx.css' /--> 
 
<!-- Excanvas --> 
<!--[if IE]><script type="text/javascript" src="/files/WireIt-0.5.0/lib/excanvas.js"></script><![endif]--> 
 
<!-- WireIt --> 
<script type="text/javascript" src="/files/WireIt-0.5.0/js/WireIt.js"></script> 
<script type="text/javascript" src="/files/WireIt-0.5.0/js/CanvasElement.js"></script> 
<script type="text/javascript" src="/files/WireIt-0.5.0/js/Wire.js"></script> 
<script type="text/javascript" src="/files/WireIt-0.5.0/js/Terminal.js"></script> 
<script type="text/javascript" src="/files/WireIt-0.5.0/js/util/DD.js"></script> 
<script type="text/javascript" src="/files/WireIt-0.5.0/js/util/DDResize.js"></script> 
<script type="text/javascript" src="/files/WireIt-0.5.0/js/Container.js"></script>
<!--script type="text/javascript" src="/files/WireIt-0.5.0/js/InOutContainer.js"></script--> 
<script type="text/javascript" src="/files/WireIt-0.5.0/js/Layer.js"></script>
 
<!-- WireIt inputex--> 
<!--script type="text/javascript" src="/files/WireIt-0.5.0/js/util/inputex/FormContainer-beta.js"></script--> 
 
<link rel="stylesheet" type="text/css" href="/files/WireIt-0.5.0/css/WireIt.css" /> 

<script type="text/javascript">
	var script_pk, script_name, params, script_type;
	{%if params%}
		params = Ext.decode('{{params|safe}}');
	{%endif%}
	
	{%if name%}
		script_name = '{{name}}';
	{%endif%}
	
	{%if pk%}
		script_pk = '{{pk}}';
	{%endif%}
	
	{%if pk%}
		script_type = '{{type}}';
	{%endif%}
	
</script>

<script type="text/javascript" src="/files/ext/script_gui.js"></script>
 

<style> 
body {
	font-size: 10px;
}
div.WireIt-Container {
	width: 350px; /* Prevent the modules from scratching on the right */
}
div.WireIt-InputExTerminal {
	float: left;
	width: 21px;
	height: 21px;
	position: relative;
}
div.WireIt-InputExTerminal div.WireIt-Terminal {
	top: -3px;
	left: -7px;
}
div.inputEx-Group div.inputEx-label {
	width:100px;
}


div.body{
	overflow:auto;
}

</style> 
 
 
 
 </head> 
 <body> 
 
	 <!--div id="left_box"  style="float:left; width:80%; height:100%">
	 <div id="toolbar"></div> 
	 <div id="wire-layer" class="wireit" style="height:95%"></div>
	 </div-->
	 
	  
	 <div id="wire-layer" class="wireit" style="float:left;height:97%; width:80%"></div>
	 <div id= "actions-container" style="float:left; width:20%; height:97%"></div>
	 <div id="toolbar"></div>

</body> 

</html>