<html> 
 <head> 
  <title>WireIt / inputEx</title> 
  
<!-- YUI--> 
<link rel="stylesheet" type="text/css" href="/files/WireIt-0.5.0/lib/yui/fonts/fonts-min.css" /> 
<link rel="stylesheet" type="text/css" href="/files/WireIt-0.5.0/lib/yui/reset/reset-min.css" /> 
<link rel="stylesheet" type="text/css" href="/files/WireIt-0.5.0/lib/yui/container/assets/container.css"> 
<script type="text/javascript" src="/files/WireIt-0.5.0/lib/yui/utilities/utilities.js"></script> 
<script type="text/javascript" src="/files/WireIt-0.5.0/lib/yui/container/container-min.js"></script> 
<script type="text/javascript" src="/files/WireIt-0.5.0/lib/yui/json/json-min.js"></script> 

<script type="text/javascript" src="/files/ext/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="/files/ext/ext-all-debug.js"></script>

<!-- InputEx --> 
<script src="/files/WireIt-0.5.0/lib/inputex/js/inputex.js"  type='text/javascript'></script> 
<script src="/files/WireIt-0.5.0/lib/inputex/js/Field.js"  type='text/javascript'></script> 
 
<script type="text/javascript" src="/files/WireIt-0.5.0/js/util/inputex/WirableField-beta.js"></script> 
 
<script src="/files/WireIt-0.5.0/lib/inputex/js/Group.js"  type='text/javascript'></script> 
<script src="/files/WireIt-0.5.0/lib/inputex/js/fields/StringField.js"  type='text/javascript'></script> 
<script src="/files/WireIt-0.5.0/lib/inputex/js/fields/SelectField.js"  type='text/javascript'></script> 
<script src="/files/WireIt-0.5.0/lib/inputex/js/fields/EmailField.js"  type='text/javascript'></script> 
<script src="/files/WireIt-0.5.0/lib/inputex/js/fields/UrlField.js"  type='text/javascript'></script> 
<script src="/files/WireIt-0.5.0/lib/inputex/js/fields/ListField.js"  type='text/javascript'></script> 
<script src="/files/WireIt-0.5.0/lib/inputex/js/fields/CheckBox.js"  type='text/javascript'></script> 
 
<!-- InputEx CSS --> 
<link type='text/css' rel='stylesheet' href='/files/WireIt-0.5.0/lib/inputex/css/inputEx.css' /> 
 
<!-- Excanvas --> 
<!--[if IE]><script type="text/javascript" src="/files/WireIt-0.5.0/lib/excanvas.js"></script><![endif]--> 
 
<!-- WireIt --> 
<script type="text/javascript" src="/files/WireIt-0.5.0/js/WireIt.js"></script> 
<script type="text/javascript" src="/files/WireIt-0.5.0/js/CanvasElement.js"></script> 
<script type="text/javascript" src="/files/WireIt-0.5.0/js/Wire.js"></script> 
<script type="text/javascript" src="/files/WireIt-0.5.0/js/Terminal.js"></script> 
<script type="text/javascript" src="/files/WireIt-0.5.0/js/util/DD.js"></script> 
<script type="text/javascript" src="/files/WireIt-0.5.0/js/util/DDResize.js"></script> 
<script type="text/javascript" src="/files/WireIt-0.5.0/js/Container.js"></script>
<script type="text/javascript" src="/files/WireIt-0.5.0/js/InOutContainer.js"></script> 
<script type="text/javascript" src="/files/WireIt-0.5.0/js/Layer.js"></script> 
 
<!-- WireIt inputex--> 
<script type="text/javascript" src="/files/WireIt-0.5.0/js/util/inputex/FormContainer-beta.js"></script> 
 
<link rel="stylesheet" type="text/css" href="/files/WireIt-0.5.0/css/WireIt.css" /> 
 
 
<style> 
body {
	font-size: 10px;
}
div.WireIt-Container {
	width: 350px; /* Prevent the modules from scratching on the right */
}
div.WireIt-InputExTerminal {
	float: left;
	width: 21px;
	height: 21px;
	position: relative;
}
div.WireIt-InputExTerminal div.WireIt-Terminal {
	top: -3px;
	left: -7px;
}
div.inputEx-Group div.inputEx-label {
	width:100px;
}
</style> 
 
 </head> 
 <body> 
	
	<script> 
	var MDAction =  function(opts, layer) {	
		
		this.inputs = opts.inputs || [];
		this.outputs = opts.outputs || [];
		opts.terminals = [];
		opts.height = 50;
		
		
		for(var i = 0 ; i < opts.inputs.length ; i++) {
			var input = this.inputs[i];
			opts.terminals.push({
				"name": input, 
				"direction": [-1,0], 
				"offsetPosition": {"left": -14, "top": 3+30*(i+1) }, 
				"ddConfig": {
					"type": "input",
					"allowedTypes": ["output"]
				}
			});
		}
		for(i = 0 ; i < this.outputs.length ; i++) {
			var output = this.outputs[i];
			opts.terminals.push({
				"name": output, 
				"direction": [1,0], 
				"offsetPosition": {"right": -14, "top": 3+10*(i+1+this.inputs.length) }, 
				"ddConfig": {
					"type": "output",
					"allowedTypes": ["input"]
				},
				"alwaysSrc": true
			});
		}
		
		
		
		MDAction.superclass.constructor.call(this, opts, layer);
	
	}; 
	YAHOO.lang.extend(MDAction, WireIt.FormContainer, {
	
	});
	
	var AdaptImage = function(opts, layer) {
		opts.inputs = ['in'];
		opts.outputs = ['out'];
		opts.title =  ['AdaptImage'];
		
		opts.fields= [ 
				{type: 'select', inputParams: {label: 'source_variant', name: 'source_variant', selectValues: ['original'] } },
				{type: 'select', inputParams: {label: 'output_variant', name: 'output_variant', selectValues: ['thumbnail','preview',  'fullscreen'], value: opts.output_variant } },
				{inputParams: {label: 'height', name: 'height', required: false, value: opts.height_value } }, 
				{inputParams: {label: 'width', name: 'width', required: false, value: opts.width_value} } 
				
			];
		
		AdaptImage.superclass.constructor.call(this, opts, layer);
	};	 
	
	YAHOO.lang.extend(AdaptImage, MDAction, {
		
		
	
	});
	
	var SmartContainer = function(opts, layer) {
		
//		this.inputs = opts.inputs ;
//		this.outputs = opts.outputs;
		SmartContainer.superclass.constructor.call(this, opts, layer);
		
	};
	YAHOO.lang.extend(SmartContainer, WireIt.FormContainer, {
		
		
		
//		inputs: ['lol'],
//		outputs: [],
		
		render: function() {
			SmartContainer.superclass.render.call(this);
			this.inputs = ['in'];
			this.outputs = ['out'];
			for(var i = 0 ; i < this.inputs.length ; i++) {
				var input = this.inputs[i];
				this.terminals.push({
					"name": input, 
					"direction": [-1,0], 
					"offsetPosition": {"left": -14, "top": 3+30*(i+1) }, 
					"ddConfig": {
						"type": "input",
						"allowedTypes": ["output"]
					}
				});
				this.bodyEl.appendChild(WireIt.cn('div', null, {lineHeight: "30px"}, input));
			}
			
			for(i = 0 ; i < this.outputs.length ; i++) {
				var output = this.outputs[i];
				this.terminals.push({
					"name": output, 
					"direction": [1,0], 
					"offsetPosition": {"right": -14, "top": 3+30*(i+1+this.inputs.length) }, 
					"ddConfig": {
						"type": "output",
						"allowedTypes": ["input"]
					},
					"alwaysSrc": true
				});
				this.bodyEl.appendChild(WireIt.cn('div', null, {lineHeight: "30px", textAlign: "right"}, output));
			}
			
				
		}
		
	});
 	var extract_features, adapt_1, adapt_2, adapt_3, test_form;
	YAHOO.util.Event.addListener(window, 'load', function() {
		// Required for the tooltips
		YAHOO.inputEx.spacerUrl = "/files/WireIt-0.5.0/lib/inputex/images/space.gif";
 
		// Example 1
	   	var demoLayer = new WireIt.Layer({layerMap: false});
		
 		adapt_1 = new AdaptImage({
			position:[500,140],
			legend:'thumbnail',
			height_value : 100,
			width_value : 100,
			output_variant: 'thumbnail'
			
 		}, demoLayer); 
 		
 		adapt_2 = new AdaptImage({
			position:[500,340],
			legend:'preview',
			height_value : 300,
			width_value : 300,
			output_variant: 'preview'
			
 		}, demoLayer); 
		
 		adapt_3 = new AdaptImage({
			position:[500,540],
			legend:'fullscreen',
			height_value : 800,
			width_value : 600,
			output_variant: 'fullscreen'
			
 		}, demoLayer); 
 		
		
		extract_features  = new MDAction({
			id: 'extract',
			position:[50,140],
			height: 200,
			width: 200,
			title: ['ExtractFeatures'],
			outputs: ['out'],
			inputs: ['in'],
			
			
			fields: [
			{type: 'select', inputParams: {label: 'source_variant', name: 'source_variant', selectValues: ['original'] } }
//				{type: 'select', inputParams: {label: 'Title', name: 'title', selectValues: ['Mr','Mrs','Mme'] } },
//				{inputParams: {label: 'Firstname', name: 'firstname', required: true } }, 
//				{inputParams: {label: 'Lastname', name: 'lastname', value:'Dupont'} }, 
//				{type:'email', inputParams: {label: 'Email', name: 'email', required: true}}, 
//				{type:'boolean', inputParams: {label: 'Happy to be there ?', name: 'happy'}}, 
//				{type:'url', inputParams: {label: 'Website', name:'website', size: 25}} 
			],
			legend: ''
			
			
 		}, demoLayer);
			
			
		
		
		var w1 = new WireIt.Wire(adapt_1.terminals[0], extract_features.terminals[1], document.body)
		var w2 = new WireIt.Wire(adapt_2.terminals[0], extract_features.terminals[1], document.body)
		var w3 = new WireIt.Wire(adapt_3.terminals[0], extract_features.terminals[1], document.body)
		w1.drawBezierCurve();
		w2.drawBezierCurve();
		w3.drawBezierCurve();
		
 
	});
	</script> 
 </body> 
</html>