<html>
<head>
	<title>NotreDAM</title>
	<link rel="stylesheet" type="text/css" href="/files/ext/resources/css/ext-all.css" />
	<link rel="stylesheet" type="text/css" href="/files/css/forms.css" />

	<script type="text/javascript" src="/files/ext/adapter/ext/ext-base.js"></script>

	<script type="text/javascript" src="/files/ext/ext-all.js"></script>
	<script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
	<script type="text/javascript" src="/files/ext/demo_registration.js"></script>

</head>
<body>

</body>
</html>

